{% extends "@Main/Default/index.html.twig" %}
{% block content %}
{% trans_default_domain 'FOSUserBundle' %}
<link  href="{{ asset('css/signUp.css') }}" rel="stylesheet"></link>
<div class="login-page">

    <h2 style="text-align: center">Profil</h2>
    <div class="form">
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
    </div>
</div>
{% endblock %}
