{% extends "@Main/Default/index.html.twig" %}
{% block content %}
{% trans_default_domain 'FOSUserBundle' %}
<link  href="{{ asset('css/signUp.css') }}" rel="stylesheet"></link>
<div class="login-page">

    <h2 style="text-align: center">Changer Mot de passe</h2>
    <div class="form">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}

        <button type="submit" > {{ 'change_password.submit'|trans }}</button>

        {{ form_end(form) }}
    </div>






</div>
{% endblock %}
